
<mat-toolbar color="primary">
    <span routerLink="">School App</span>
    <span class="example-spacer"></span>
    <button *ngIf="userIsAuthenticated" [routerLink]="['/organization/' + orgPath]" mat-button>Organization</button>
    <button *ngIf="!userIsAuthenticated" [routerLink]="['/org-register']" mat-button>Register</button>
    <button *ngIf="!userIsAuthenticated" [routerLink]="['/org-login']" mat-button>Login</button>
    <button *ngIf="userIsAuthenticated" (click)="onLogout()" mat-button>Logout</button>
</mat-toolbar>
