<mat-tab-group mat-align-tabs="start" animationDuration="0ms">
    <mat-tab label="Dashboard">
        <div class="dashboard">
            <h2>Welcome to your Dashboard</h2>
        </div>
 
    </mat-tab>
    <mat-tab mat-align="center" label="Teachers"> Content 2 </mat-tab>
    <mat-tab label="Students"> Content 4 </mat-tab>
    <mat-tab label="Grades"> Content 6 </mat-tab>
    <mat-tab label="Certifications"> Content 7 </mat-tab>
    <mat-tab label="Classes"> Content 8</mat-tab>
    <!-- Modules/Subjects will go here -->
    <mat-tab label="Schedules">Content 9</mat-tab>
</mat-tab-group>
  

   