.dashboard
{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 5rem;
}

.dashboard > h2
{
    font-size: 33px;
}


.class-form
{
    background-color: rgba(0, 0, 0, 0.208);
    color: white;
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 50vw;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.208);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

.class-form input, .class-form label
{
    height: 3%;
    border-radius: 5px;
    width: 20%;
    border: none;
}
.class-form label
{
    margin-bottom: 10px;
}
.class-form button
{
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    background-color: aqua;
    margin-top: 10px;
}