<mat-card>
    <h3>Register an Organization</h3>
    <form (submit)="onRegister()" [formGroup]="form">
        <h1>Organization Information</h1>

        <mat-form-field>
            <input matInput type="text" placeholder="Organization Name" formControlName="title">
            <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
        </mat-form-field>

        <h1>User Information</h1>
        <mat-form-field>
            <input type="text" matInput type="text" placeholder="First Name" formControlName="firstName">
            <mat-error *ngIf="form.get('firstName').invalid">Please enter your first name.</mat-error>
        </mat-form-field>

        <mat-form-field>
        <input type="text" matInput type="text" placeholder="Last Name" formControlName="lastName">
        <mat-error *ngIf="form.get('lastName').invalid">Please enter your last name.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email" email>
            <mat-error *ngIf="form.get('email').invalid">Please enter a valid email address.</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput type="text" placeholder="Password" formControlName="password">
            <mat-error *ngIf="form.get('password').invalid">Please enter a valid password.</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Register</button>
    </form>
</mat-card>