<mat-card>
    <h3>Log in to an Organization</h3>
    <form (submit)="onLogin(registerForm)" #registerForm="ngForm">
        <mat-form-field>
            <input matInput id="username" name="username" type="text" ngModel #username="ngModel" placeholder="Username">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput id="pwd" name="pwd" type="text" ngModel #pwd="ngModel" placeholder="Password">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
</mat-card>
